@import "variables/variables.scss";

@import "mixins/mixins.scss";

@import "components/buttons.scss";
@import "components/input.scss";
@import "components/text.scss";

@import "layout/login.scss";
@import "layout/navigation.scss";

.main-wrapper{
    max-width: 1200px;
    margin: auto;
}

body{
    font-family: 'Poppins', sans-serif;
}