.nav {
  width: 100%;
  background-color: $secondary-color;
  height: $nav-height;
  position: fixed;
  top: 0;
  z-index: 1000;
  @include shadow-outset;
  &-content {
    display: flex;
    flex-flow: row;
    height: 100%;
    justify-content: flex-start;
    &-title {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      &-logo {
        display: flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          text-decoration: none !important;
          h1 {
            font-size: 24px;
            font-weight: 400;
          }
        }
      }
    }
    &-menu {
      flex: 1;
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      &-items {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        align-items: center;
        a {
          margin-left: 24px;
          display: block;
          height: min-content;
          text-decoration: none !important;
          font-size: 1rem;
          font-weight: 400 !important;
          color: $text-color;
          transition: color 0.2s;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1264px) {
  .hamburger-container {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    .hamburger {
      cursor: pointer;
      align-self: center;
      div {
        transition: 0.5s all;
        width: 35px;
        height: 4px;
        border-radius: 2px;
        margin-bottom: 6px;
        background-color: black;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .isMobileOpened {
    .hamburger {
      div {
        &:first-of-type {
          transform: translateY(10px) rotate(-45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:last-of-type {
          transform: translateY(-10px) rotate(45deg);
        }
      }
    }
  }
  .nav {
    z-index: 10000000000000000000000000;
    &-content {
      &-menu {
        &-items {
          display: none;
        }
        &.isMobileOpened {
          .nav-content-menu-items {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            left: 0;
            // width: 100vw;
            position: absolute;
            margin-top: $nav-height;
            height: calc(100vh - #{$nav-height});
            width: 100vw;
            background-color: $secondary-color;
            a {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
