.search-i{
    padding: 12px 32px;
    font-weight: 400;
    font-size: 1.125rem;
    color: $text-color;
    background-color: $secondary-color;
    border-radius: 8px;
}
input[type=text], input[type=password]{
    padding: 10px 16px;
    font-weight: 400;
    font-size: 1rem;
    box-sizing: border-box;
    color: $text-color;
    border-radius: 8px;
    background-color: $secondary-color;
    @include input-border;
    @include shadow-inset;
}
textarea{
    padding: 10px 16px;
    font-weight: 400;
    font-size: 1rem;
    box-sizing: border-box;
    color: $text-color;
    border-radius: 8px;
    background-color: $secondary-color;
    @include input-border;
    @include shadow-inset;
    resize: none;
}

input[type=file]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=file] + label {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 6px 20px;
    background-color: $primary-color;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 4px;
}

input[type=file]:focus + label,
input[type=file] + label:hover {
    background-color: $primary-color-hover;
}