h2{
    font-weight: 500;
    font-size: 1.75rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.mt-32{
    margin-top: 32px !important;
}
.mt-48{
    margin-top: 48px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-24{
    margin-top: 24px !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-4{
    margin-top: 4px !important;
}
.medium{
    font-weight: 500;
}
.inline-f{
    display: flex;
    flex-flow: row;
    align-items: center;
}
span{
    font-size: 1rem;
}
p{
    font-size: 1rem;
}
h1, h2, h3, h4, span, p{
    color: $text-color;
    margin: 0;
    text-align: left;
}
h4{
    font-weight: 500;
    font-size: 1.25rem;
}
.text-grey{
    color: $grey-text;
}
.t-primary{
    color: $primary-color;
}
.warning{
    color: $warning-color;
}
.success{
    color: $success-color;
}
.white{
    color: $secondary-color;
}

a {
    color: $alert-color;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}