//colours
$primary-color: #E63946;
$secondary-color: #FDFDFD;
$background-color: #FDFDFD;
$background-dark: #1D1D1D;
$secondary-color: #ffffff;

$primary-color-hover: #b81e2b;

$success-color: #14A723;
$alert-color: #FF2121;
$warning-color: #E4750D;

//text colours
$grey-text: #B4B4B4;
$text-color: #171717;

$nav-height: 72px;
$footer-height: 120px;